# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
olingo-hibernate-web/target
olingo-hibernate-web/.settings
olingo-hibernate-web/.project
olingo-hibernate-web/.classpath
olingo-hibernate-web/hibernate.cfg.xml-mssql
olingo-hibernate-web/hibernate.cfg.xml-postgres
olingo-hibernate-web/TOMCAT
olingo-hibernate-web/.checkstyle
.settings
.project
